<!DOCTYPE HTML>
<HTML>
	{{> header }}
<body>
	{{> navbar }}
	<div class="cover">
		<figure class="cover">
			<img src="/IMAGES/EastIndia.jpg">
		</figure>
	</div>

	<div class="CoverName">
		<p><b>East India Tour Packages</b></p>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Kalimpong">
    	<img src="/IMAGES/Kalimpong1.jpg" alt="Kalimpong" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot" style="text-align: left;">Gangtok, Kalimpong, Darjeeling</i>
  			<a href="/Kalimpong" style="font-size: 26px; position: relative; top: 15px; text-decoration: none;">KALIMPONG</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 30px; right: 2Px;">6 Nights 7 Days</i>
  		</div>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Darjeeling">
    	<img src="/IMAGES/Darjeeling1.jpg" alt="Darjeeling" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Gangtok, Darjeeling</i>
  			<a href="/Darjeeling" style="font-size: 26px; position: relative; top: 20px; text-decoration: none;">DARJEELING</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 40px; right: 5px;">3 Nights 4 Days</i>
  		</div>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Gangtok-Pelling">
    	<img src="/IMAGES/Gangtok1.jpg" alt="Gantok" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Gangtok, Pelling</i>
  			<a href="/Gangtok-Pelling" style="font-size: 26px; position: relative; top: 20px; text-decoration: none;">GANGTOK-PELLING</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 40px; right: 5px;">4 Nights 5 Days</i>
  		</div>
	</div>
</body>
</HTML>