<!DOCTYPE HTML>
<HTML>
	{{> header }}
<!--<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Bon Voyage
	</title>
</head>-->

<body>
	{{> navbar }}	
	<!--<header>
		<img class = "logo" src="C:\Users\Priyanka GS\OneDrive\Desktop\BON VOYAGE\IMAGES\BonVoyage ICO.ico" alt="Logo">
		<div class="NavRight">

			<a href="BonVoyage.html" style="flex: 0.2; padding-top: 13px;">HOME</a>
			
			<div class="india">

				<a href="#" style="flex: 0.2; position: relative; top: 12px;">INDIAN PACK</a>
					<div class="india-content">
			      		<a href="NorthIndia.html">NORTH INDIA</a>
			     		<a href="SouthIndia.html">SOUTH INDIA</a>
			      		<a href="EastIndia.html">EAST INDIA</a>
			      		<a href="WestIndia.html">WEST INDIA</a>
		    		</div>
	    	</div>

	    	<div class="international">
				<a href="#" style="flex: 0.2; position: relative; top: 12px;">INTERNATIONAL PACK</a>
				<div class="international-content">
			      		<a href="#">ASIA</a>
						<a href="#">AMERICA</a>
						<a href="#">AFRICA</a>
						<a href="#">EUROPE</a>
						<a href="#">AUSTRALIA</a>
		    	</div>
			</div>

			<div class="island">
				<a href="#" style="flex: 0.2; position: relative; top: 12px;">ISLAND</a>
				<div class="island-content">
					<a href="#">MADAGASKAR</a>
					<a href="#">MALDIVES</a>
					<a href="#">MAURITIUS</a>
					<a href="#">REUNION</a>
					<a href="#">SRI LANKA</a>
				</div>
			</div>

		</div>
		<div class="NavLeft">

		{{#if user}}
        <a href="/home">Home</a>
        <a href="/profile">Profile</a>
        <a href="/auth/logout">Logout</a>
        {{else}}
        <a href="/register">Register</a>
        <a href="/">Login</a>
        {{/if}}

		</div>
	</header>-->

	<div id="slider">
		<figure>
			<div class="mySlides fade">
				<img src="/IMAGES/SliderBuilding.jpg">
			</div>
			<div class="mySlides fade">
				<img src="/IMAGES/SliderForest.jpg">
			</div>
			<div class="mySlides fade">
				<img src="/IMAGES/SliderStreet.jpg">
			</div>
			<div class="mySlides fade">
				<img src="/IMAGES/SliderIsland.jpg">
			</div>
			</figure>
	</div>
	<div class="Slidetext">
		<h1>Vacation Retreats</h1>
		<!--<input type="text" id="myInput" onkeyup="myFunction()"placeholder="Explore Here" title="Type in a name">
		<ul id="myUL">
			<li><a href="NorthIndia.html">North India</a></li>
			<li><a href="SouthIndia.html">South India</a></li>
			<li><a href="EastIndia.html">East India</a></li>
			<li><a href="WestIndia.html">West India</a></li>
			<li><a href="Delhi.html">Delhi</a></li>
			<li><a href="Himachal.html">Himachal</a></li>
			<li><a href="Rajasthan.html">Rajasthan</a></li>
			<li><a href="Haridwar.html">Haridwar</a></li>
			<li><a href="Varanasi.html">Varanasi</a></li>	
			<li><a href="Kerala.html">Kerala</a></li>
			<li><a href="Tirupati.html">Tirupati</a></li>
			<li><a href="Coorg.html">Coorg</a></li>
			<li><a href="TamilNadu.html">TamilNadu</a></li>
			<li><a href="Kalimpong.html">Kalimpong</a></li>
			<li><a href="Darjeeling.html">Darjeeling</a></li>
			<li><a href="Gangtok-Pelling.html">Gangtok-Pelling</a></li>
			<li><a href="Dwaraka.html">Dwaraka</a></li>
			<li><a href="Mumbai.html">Mumbai</a></li>
			<li><a href="Pune.html">Pune</a></li>
			<li><a href="Goa.html">Goa</a></li>
		</ul>-->
		<p>The real voyage of discovery consists not in seeking new landscapes, but in having new eyes. Discover it with Bon Voyage.</p>
	</div>
	
	<br>
	
	<div style="text-align:center">
		<span class="dot"></span> 
		<span class="dot"></span> 
		<span class="dot"></span> 
		<span class="dot"></span> 
	</div>


	<div style="text-align:center; font-style:italic; font-size: 30px; color: #F0E161; position: relative; bottom: 150px; "><b>Looming Packages</b></div>
	<div class="scrollContainer">
  	<div class="specialPackages">
      <img src="/IMAGES/HaldwaniPrison.webp">
	  <a href="#" style="font-size: 26px; position: relative; top: 50px; right: 310px; text-decoration: none;">Haldwani Prison</a>
	</div>
	<div class="specialPackages">
      <img src="/IMAGES/CordeilaCruises.jpg">
	  <a href="#" style="font-size: 26px; position: relative; top: 50px; right: 300px; text-decoration: none;">Cordeila Cruises</a>
	</div>
	<div class="specialPackages">
      <img src="/IMAGES/7Wonders.jpeg">
	  <a href="#" style="font-size: 26px; position: relative; top: 50px; right: 250px; text-decoration: none;">7 Wonders</a>
	</div>
	<div class="specialPackages">
	  <img src="/IMAGES/Preikestolen_KjeragBoulder.jpg">
	  <a href="#" style="font-size: 26px; position: relative; top: 50px; right: 360px; text-decoration: none;">Preikestolen & KjeragBoulder</a>
  	</div>
	<div class="specialPackages">
		<img src="/IMAGES/PanjinRedBeach.jpg">
		<a href="#" style="font-size: 26px; position: relative; top: 50px; right: 260px; text-decoration: none;">Panjin</a>
	</div>
	</div>

	<footer>
		<div class="footer">
			<img src="/IMAGES/Footer.png">
			<div class="social-menu">
				<ul>
					<li><a href = "https://www.facebook.com/?stype=lo&jlou=AfewKZrYDNZucHH1goAhFZvkedYUGB5rYNZG1W4Pe-82TRMtqIId1YyDPRIPbsWLmgaEMwXP9gkOTs4vhkKRYB_fO47pgi3GccTh9Bra82wpjQ&smuh=37304&lh=Ac9xYLXkJw6te1rRVdk"><i class="fa-brands fa-facebook-f fa-2xl" style="position: relative; top: 20px;"></i></a></li>
					<li><a href = "https://www.instagram.com/accounts/login/"><i class="fa-brands fa-instagram fa-2xl"style="position: relative; top: 20px;"></i></a></li>
					<li><a href = "https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter fa-2xl"style="position: relative; top: 20px;"></i></a></li>
					<!--<li><a href="#"><img src="C:\Users\Priyanka GS\OneDrive\Desktop\BON VOYAGE\IMAGES\BonVoyage PNG.png" style="width: 100px; height: 100px; position: relative; top: 20px;";></a></li>-->
				</ul>
			</div>
			<h1><b>Bon Voyage</b></h1>
			<h3>Vacation Retreats</h3><br>
			<p>© Copyright 2022 All Rights Reserved</p>
		</div>
	</footer>
	

	









	<script>
	let slideIndex = 0;
	showSlides();

function showSlides() {
	  let i;
	  let slides = document.getElementsByClassName("mySlides");
	  let dots = document.getElementsByClassName("dot");
	  for (i = 0; i < slides.length; i++) {
	    slides[i].style.display = "none";  
	  } //Else image will be aligned vertically one after other
	  slideIndex++;
	  if (slideIndex > slides.length) {slideIndex = 1}    
	  for (i = 0; i < dots.length; i++) {
	    dots[i].className = dots[i].className.replace(" active", "");
	  }  // current dot will be active
	  slides[slideIndex-1].style.display = "block";  
	  dots[slideIndex-1].className += " active";
	  setTimeout(showSlides, 3000); // Change image every 3 seconds
}

function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();		//Converting i/p to uppercase
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];		//Check the i/p index of list i
        txtValue = a.textContent;		//storing the content a in textValue
        if (txtValue.toUpperCase().indexOf(filter) > -1) {		// if textValue present in fiter on any index
            li[i].style.display = "";
            ul.style.display = "block";
        } else {
            li[i].style.display = "none";
        }
    }
}
//https://www.w3schools.com/howto/howto_js_dropdown.asp
//https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_list
</script>
</body>
</HTML>















































































<!--<body>
	<div class = "dropdown">
		<nav>
			<img class = "logo" src="C:\Users\Priyanka GS\OneDrive\Desktop\BON VOYAGE\IMAGES\LOGO 100.jpg">
			<ul>
				<li><a href="#">HOME</a></li>
				<li><a href="#">INDIAN PACK</a>
					<ul>
						<li><a href="#">NORTH INDIA</a></li>
						<li><a href="#">SOUTH INDIA</a></li>
						<li><a href="#">EAST INDIA</a></li>
						<li><a href="#">WEST INDIA</a></li>
					</ul>
				</li>
				<li><a href="#">INTERNATIONAL PACK</a>
					<ul>
						<li><a href="#">NORTH INDIA</a></li>
						<li><a href="#">SOUTH INDIA</a></li>
						<li><a href="#">EAST INDIA</a></li>
						<li><a href="#">WEST INDIA</a></li>
					</ul>
				</li>
				<li><a href="#">ISLAND</a>
					<ul>
						<li><a href="#">NORTH INDIA</a></li>
						<li><a href="#">SOUTH INDIA</a></li>
						<li><a href="#">EAST INDIA</a></li>
						<li><a href="#">WEST INDIA</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>-->






	<!--<header>
			<ul>
				<div class="logo">
					<img src = "C:\Users\Priyanka GS\OneDrive\Desktop\BON VOYAGE\IMAGES\400.jpg">
				</div>
				<li>HOME</li>
					<li class="dropdown">

						<button class = "dropbtn" style="float:left;">Indian Pack</button> 
						<div class="dropdown-content" style="left:0;background-color: #f9f9f9;">
							<a href="#">North India</a>
	  						<a href="#">South India</a>
	 						<a href="#">East India </a>
	 						<a href="#">West India </a>
						</div>

					<button class = "dropbtn" style="float:right;background-color: #f9f9f9;">International Pack</button>     <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
						<div class="dropdown-content">
							<a href="#">ASIA</a>
							<a href="#">AMERICA</a>
							<a href="#">AFRICA</a>
							<a href="#">EUROPE</a>
							<a href="#">AUSTRALIA</a>
						</div>
				</li>
				<div class = "register">
				<p>REGISTER</p>
				</div>
			</ul>
	</header>
</body>
</HTML>-->