<!DOCTYPE html>
<html lang="en">
    {{> header }}
    <style>
body{
  background-image: url('/IMAGES/welcomeBackground.jpg'); 
	background-repeat: no-repeat; 
	background-attachment: fixed;  
  background-size: 100% 100%; 
}
.outerbox{ 
  width: 1050px; 
  height: 550px;
  border: 1px solid rgba(255,255,255,0.3);  
  border-radius: 20px; 
  box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
  margin: 110px auto 0px auto;  
  position: relative; 
  bottom: 25px;
  background-image: url('/IMAGES/Welcome.png');
  background-size: 100% 100%; 
} 

.form{ 
    margin: 110px; 
    position: relative; 
    bottom: 40px; 
    height: 400px; 
} 

input{ 
    font-family: poppins; 
    font-size: 18px; 
    width: 300px; 
    border: 1.5px solid #F0E161; 
    border-radius: 3px; 
    outline: 0; 
    padding: 8px; 
    background-color: #fff;  /*grey*/ 
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3); 
} 
.head{
  position: relative;
  top: 80px;
  left: 750px;
  font-size: 30px;
}
.data{
  position: relative;
  top: 150px;
  left: 650px;
}
.forgotPass{
  position: relative;
  top: 140px;
  left: 750px;
}
.signup{
  position: relative;
  top:130px;
  bottom: 100px;
  left: 710px;
}
.submit{ 
    width: 200px; 
    padding: 8px; 
    font-size: 16px; 
    font-family: poppins; 
    border-radius: 20px; 
    background-color: #F0E161; 
    color: black; 
    cursor: pointer; 
    border: 1px solid rgbs(255,255,255,0.3); 
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3); 
    position: relative; 
    left: 700px; 
    top: 130px;
    border: none;
} 
.error{
  color: red;
  text-align: center;
  padding: 10px;
  position: relative;
  left: 280px;
  top: 50px;
}
.good{
  color: green;
  text-align: center;
  padding: 10px;
  position: relative;
  left: 280px;
  top: 50px;
} 
    </style>
    <body>
    <!--{{> navbar }}-->
    <div class="outerbox"> 

      <div class="head">LOGIN</div>

      <form action="/auth/login" method="post">

        <div class="data">
          <input type="email" placeholder="Email" name="email" id="email" />
        </div><br><br>

        <div class="data">
          <input type="password"  placeholder="Password" name="password" id="password" />
        </div><br><br>

        <div class="forgotPass">
          <a href="#">Forgot Password?</a>
        </div><br><br>


        <button class="submit" type="submit">login</button><br><br>

        <div class="signup">
          Not a member? 
          <a href="/register">Signup now</a>
        </div>

      </form>
    </div>
  </body>
</html>