<!DOCTYPE HTML>
<HTML>

{{> header }}

<body>
	{{> navbar }}
	<div class="cover">
		<figure class="cover">
			<img src="/IMAGES/NorthIndia.jpg">
		</figure>
	</div>

	<div class="CoverName">
		<p><b>North India Tour Packages</b></p>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Delhi">
    	<img src="/IMAGES/Delhi1.jpg" alt="Delhi" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Delhi, Vrindavan, Mathura, Gokul, Mahavan, Govardhan, Nandgaon, Barsana</i>
  			<a href="/Delhi" style="font-size: 26px; position: relative; top: 10px; text-decoration: none;">DELHI</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 40px; right: 80px;">2 Nights 3 Days</i>
  		</div> <!--https://www.w3schools.com/howto/howto_css_zoom_hover.asp-->
	</div>

	<div class="gallery">
  		<a target="_self" href="/Himachal">
    	<img src="/IMAGES/Himachal1.jpg" alt="Himachal" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Delhi, Shimla, Manali, Chanigarh</i>
  			<a href="/Himachal" style="font-size: 26px; position: relative; top: 15px; text-decoration: none">HIMACHAL</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 32px;">6 Nights 7 Days</i>
  		</div>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Rajasthan">
    	<img src="/IMAGES/Rajastan1.jpg" alt="Rajasthan" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Delhi, Agra, Jaipur, Jodhpur, Udaipur</i>
  			<a href="/Rajasthan" style="font-size: 26px; position: relative; top: 15px; text-decoration: none;">RAJASTHAN</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 32px;">7 Nights 8 Days</i>
  		</div>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Haridwar">
    	<img src="/IMAGES/Haridwar1.jpg" alt="Haridwar" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Nainital, Kausani, Corbett, Haridwar, Mussoorie</i>
  			<a href="/Haridwar" style="font-size: 26px; position: relative; top: 15px; text-decoration: none;">HARIDWAR</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 32px;">9 Nights 10 Days</i>
  		</div>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Varanasi">
    	<img src="/IMAGES/Varanasi1.jpg" alt="Varanasi" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Varanasi, Bodhgaya, Gaya, Allahabad</i>
  			<a href="/Varanasi" style="font-size: 26px; position: relative; top: 20px; text-decoration: none;">VARANASI</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 32px; left: 4px;">3 Nights 4 Days</i>
  		</div>
	</div>

</body>
</HTML>