<!DOCTYPE HTML>
<HTML>
{{> header }}
<body>
	{{> navbar }}
	<div class="cover">
		<figure class="cover">
			<img src="/IMAGES/SouthIndia.jpg">
		</figure>
	</div>

	<div class="CoverName">
		<p><b>South India Tour Packages</b></p>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Kerala">
    	<img src="/IMAGES/Kerala1.jpg" alt="Kerala" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Kerala, Cochin, India</i>
  			<a href="/Kerala" style="font-size: 26px; position: relative; top: 20px; text-decoration: none;">KERALA</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 60px; right: 108px;">7 Nights 8 Days</i>
  		</div>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Tirupati">
    	<img src="/IMAGES/Tirupati1.avif" alt="Tirupati" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Chennai, Tirupati</i>
  			<a href="/Tirupati" style="font-size: 26px; position: relative; top: 20px; text-decoration: none;">TIRUPATI</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 60px; right: 114px;">3 Nights 4 Days</i>
  		</div>
	</div>

	<div class="gallery">
  		<a target="_self" href="/Coorg">
    	<img src="/IMAGES/Coorg1.jpg" alt="Coorg" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Bangalore, Coorg</i>
  			<a href="/Coorg" style="font-size: 26px; position: relative; top: 45px; right: 160px; text-decoration: none;">COORG</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 60px; right: 312;">3 Nights 4 Days</i>
  		</div>
	</div>

	<div class="gallery">
  		<a target="_self" href="/TamilNadu">
    	<img src="/IMAGES/Rameshwaram1.jpg" alt="Haridwar" width="600" height="400">
  		</a>
  		<div class="desc">
  			<i class="fa-solid fa-location-dot">Tirupati, Bangalore, Mysore, Ooty, Madurai, Rameswaram, Kanyakumar</i>
  			<a href="/TamilNadu" style="font-size: 26px; position: relative; top: 10px; text-decoration: none;">TAMILNADU</a>
  			<i class="fa-regular fa-clock" style="position: relative; top: 20px;">9 Nights 10 Days</i>
  		</div>
	</div>

</body>
</HTML>